* {
    box-sizing: border-box;
    margin: 0;
  }
  
  /* Home */
  
  body{
    position: relative;
    width: 1920px;
    height: 1080px;
    overflow-y: scroll;
    font-family: Poppins;
    background: url(greek-vase.png);
  }
  
  * {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }

  a {
    text-decoration: none;
    color: black;
  }
  .v10__3 {
    width: 57px;
    height: 57px;
    /* background: rgba(255,200,95,1); */
    opacity: 1;
    position: absolute;
    top: 850px;
    left: 925px;
  }
  .name {
    color: #fff;
  }
  .v6_2 {
    width: 169px;
    color: rgba(7,32,255,1);
    position: absolute;
    top: 75px;
    left: 200px;
    font-family: Poppins;
    font-weight: Bold;
    font-size: 25px;
    opacity: 1;
    text-align: left;
  }
  .v6_5 {
    width: 451px;
    height: 40px;
    /* background: url("Vector.svg"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 5px 37px;
    margin: 48px;
    opacity: 1;
    position: absolute;
    top: 75px;
    left: 431px;
    overflow: hidden;
  }
  .v6_3 {
    width: 60px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 5px;
    left: 37px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v10_7 {
    width: 107px;
    height: 30px;
    /* background: url("android/icon/24/arrow-down.svg"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 1px;
    opacity: 1;
    position: absolute;
    top: 5px;
    left: 123px;
    overflow: hidden;
  }
  .v10__7 {
    width: 24px;
    height: 24px;
    /* background: rgba(255,200,95,1); */
    opacity: 1;
    position: absolute;
    top: 6px;
    left: 210px;
  }
  .v6_28 {
    width: 82px;
    color: rgba(0,0,0,1);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .name {
    color: #fff;
  }
  .v6_29 {
    width: 53px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 5px;
    left: 256px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v10_35 {
    width: 700px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 5px;
    left: 335px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v10_26 {
    width: 130px;
    height: 23px;
    background: rgba(255,255,255,1);
    margin: 10px;
    opacity: 1;
    position: absolute;
    top: 126px;
    left:1552px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v10_25 {
    width: 53px;
    color: rgba(7,32,255,1);
    position: absolute;
    top: 0px;
    left: 29px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  .v10_11 {
    width: 9px;
    height: 9px;
    /* background: rgba(168,168,168,1); */
    opacity: 1;
    position: absolute;
    top: 1px;
    left: 92px;
  }
  .v10_27 {
    width: 130px;
    height: 23px;
    background: rgba(7,32,255,1);
    margin: 10px;
    opacity: 1;
    position: absolute;
    top: 126px;
    left:1392px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
  }
  .v10_28 {
    width: 57px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 37px;
    font-family: Poppins;
    font-weight: Bold;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  
  .heading{
    color:rgba(7,32,255,1);
    padding:1px;
    font-size: 4rem;
    top: 250px;
    width:1900px;
    position: absolute;
    text-align: center;
}
  .course .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.course .box-container .box{
    width:450px;
    top: 400px;
    border:.1px solid rgba(0,0,0,.3);
    position: relative;
    margin:1.5px;  
}

.course .box-container .box img{
    height:400px;
    width: 100%;
    object-fit: cover;
}

.course .box-container .box .content{
    padding:1rem;
}

.course .box-container .box .content .stars i{
    color:#f39c12;
    font-size: 1.7rem;
    padding:1rem .1rem;
}

.course .box-container .box .content .title{
    color:#444;
    font-size: 2.1rem;
}

.course .box-container .box .content .title:hover{
    text-decoration: underline;
}

.course .box-container .box .content p{
    padding:1rem 0;
    color:#666;
    font-size: 1.5rem;
}

.course .box-container .box .content .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: .5rem;
    border-top: .1rem solid rgba(0,0,0,.3);
}

.course .box-container .box .content .info h3{
    font-size: 1.5rem;
    padding:1rem;
    color:#666;
}

.course .box-container .box .content .info h3 i{
    color:#f39c12;
}

.course .box-container .box .price{
    position: absolute;
    top:16rem; right:1rem;
    height:8rem;
    width:8rem;
    line-height: 8rem;
    text-align: center;
    border-radius: 50%;
    background:var(--gradient);
    color:#fff;
    font-size: 3rem;
}
